Карл Вигерс.
Разработка требований к программному обеспечению. Издание третье, дополненное.
КОНСПЕКТ

16.02.21
Введение.
Бизнес-анализ признан профессиональной дисциплиной. Сертфикация в International Institute of Business Analysis и International Requirements Engineering Board.
Программные средства для управления требованиями
Проекты с гибкой разработкой(agile) и работа с требованиями в них.

ГЛАВА 1. 
* Ключевые термины при сборе требований
* Различие между требованиями к продукту и проекту
* Различие между требованиями к разработке и  управлению
* Симптомы проблемы из-за несовершенства методов сбора, документирования, согласования, модификации требований к ПО. 

** ОПРЕДЕЛЕНИЕ ТРЕБОВАНИЙ К ПО **

Требование это - перечень того, что должно быть реализовано. В них описано поведение системы, свойства системы или ее атрибуты. Они могут служить ограничениями в процессе разработки системы.

Бизнес-требование(БТ, business requirements) - это высокоуровневая бизнес-цель заказчика. Описывают почему заказчику нужна такая система,  какие задачи он собирается решать с ее помощью. Например: "Снизить на 30% себестоимость заказа".  БТ могут фиксироваться в таких документах как: Документ о концепции и границах, Устав проекта, Варианты использования(business case).

Бизнес-правило - это регламент,  стандарт,  правило определяющее бизнес-процесс или его часть. Служит источником требований к ПО

Ограничение - это ограничение на выбор вариантов реализации доступных разработчику

Внешнее требование к интерфейсу - Описание взаимодействия между ПО и пользователем

Характеристика - это одна или несколько логически связанных возможностей системы,  которые представляют ценность для пользователя и описаны рядом функциональных требований.

Функциональное требование(ФТ, functional requirement) - это описание требуемого поведения системы в определенных условиях. Определяют, что  должны сделать программисты что бы пользователи могли выполнить свои задачи(пользовательские требования)   в рамках бизнес-требований(БТ). ФТ документируются в документе "Спецификация требований"(software requirements specification - SRS). Пример  ФТ: «У пассажира должна быть возможность распечатать посадочные талоны на все рейсы, на которые он зарегистрировался».

Нефункциональное требование(НФТ) - это описание свойства системы,  которым должна обладать система. Или ограничение,  которое она должна соблюдать. 

Атрибут качества - это вид нефункционального требования,  описывающего характеристику сервиса или производительность продукта.

Системное требование - Требование верхнего уровня к продукту,  состоящему из нескольких подсистем. Подсистемой может быть оборудование

Пользовательское требование(ПТ, user requirements) - задача(приносит пользу), которую могут выполнять в системе определенные классы пользователей. ПТ могут фиксироваться в таких документах  как "Пользовательские истории", "Варианты использования", "таблицы событие-отклик". ПТ описывают то, что пользователь  должен иметь возможность сделать с системой,  что он хочет получить с помощью системы. Пример пользовательской истории регистрации на рейс самолета: "Как пассажир я хочу зарегистрироваться на рейс, чтобы можно было сесть на самолет".

**ТРИ УРОВНЯ ТРЕБОВАНИЙ**

Бизнес-требования(концепция границ)  --> Пользовательские требования --> Функциональные требования.


**ТРЕБОВАНИЯ К ПРОДУКТУ И ТРЕБОВАНИЯ К ПРОЕКТУ**

Требования к проекту - это управление проектом.


**РАЗРАБОТКА И УПРАВЛЕНИЕ ТРЕБОВАНИЯМИ**

Разработка технических 
условий-|
		|-> Разработка 
		|   требований--|
		|			    |-> Выявление. Определение классов пользователей, понимание задач и целей соответствующих бизнес-целям. Окружение для продукта.
		|			    |-> Анализ. Отделить задачи пользователей от ФТ и НФТ. Декомпозиция требований. Получение ФТ из других требований. Атрибуты качества. 
		|     		    |требования по компонентам 
		| 				|    приоритеты реализации. Поиск пробелов в требованиях.
		|			    |-> Документирование. преобразование собранных требований в документы и диаграммы.
		|			    |-> Утверждение. проверка требований, разработка приемочных тестов и критериев приемки
		|-> Управление требованиями.  Мероприятия связанные влиянием требований на проект,  в том числе влияние изменений в требованиях. Связи между  требованиями.


		ГЛАВА 2. Требования с точки зрения клиента
**Разрыв ожиданий.**
Заказчик должен участвовать в подготовке требований,  в противном случае возникнет разрыв между тем что он ожидал получить  и тем,  что разработали программисты. Чем чаще идет общение с заказчиком, тем меньше разрыв. 

**Кто есть Заказчик?**
Важно  составить и проанализировать перечень заинтересованных сторон. Иначе можно упустить часть важных требований. 
Так же нужно понимать,  что за  разные уровни требований отвечают разные заказчики. Начальники не всегда знают,  что нужно конкретным пользователям.  Поэтому обсуждаем с начальниками бизнес-требования, с исполнителями -  пользовательские.
Важно что бы все заинтересованные стороны  понимали цели и ограничения  проекта.

**Сотрудничество клиентов и разработчиков**
Биль о правах клиента при  формулировании требований к ПО. 
Клиент(вы) имеет право:
1. Иметь дело с аналитиком, который разговаривает на вашем языке
2. Иметь дело с аналитиком, хорошо изучившим ваш бизнес и цели, для которых
создается система
3. Потребовать, чтобы аналитик зафиксировал требования в надлежащей форме
4. Получить подробный отчет о будущих процедурах и результатах процесса
формулирования требований
5. На изменение ваших требований
6. На взаимное уважение
7. Знать о вариантах и альтернативах требований и их реализации
8. Описать характеристики, упрощающие работу с продуктом
9. Узнать о способах корректировки требований для ускорения разработки за счет
повторного использования
10. Получить систему, функциональность и качество которой соответствует вашим
ожиданиям


Биль об обязанностях клиента при  формулировании требований к ПО. 
Клиент(Вы) обязан:
1. Ознакомить аналитиков и разработчиков с особенностями вашего бизнеса
2. Потратить столько времени, сколько необходимо на уточнение требований
3. Точно и конкретно описать требования к системе
4. Принимать своевременные решения относительно требований
5. Уважать определенную разработчиком оценку стоимости и возможности
реализации ваших требований
6. Определять реалистичные приоритеты требований совместно с разработчиками
7. Проверять требования и оценивать прототипы
8. Определить критерии приемки
9. Своевременно сообщать об изменениях требований
10. Уважительно относиться к процессам создания требований

**Создание культуры уважения к требованиям**
рассказать всем,  к чему ведет пренебрежение  к работе с требованиями.  Показывать требования разработчикам по мере их подготовки  с тем что бы они могли указать места,  где нужны уточнения. Тестовые сценарии можно начинать почти сразу с разработкой требований - они помогут выявить узкие места в требованиях.

**Определение ответственных за принятие решений**
Нужно определить группу принятия решения и главного в ней. В рамках управления проектом нужен регламент принятия решений.

**Достижение соглашения о требованиях**
• клиенты должны подтвердить, что требования удовлетворяют их потребности;
• разработчики подтверждают, что они понимают требования и в состоянии их реализовать;
• тестировщики подтверждают, что требования поддаются проверке;
• руководство подтверждает, что требования соответствуют их бизнес-целям.
Однако,  подтверждение требований не означает, что их нельзя менять.

**Базовое соглашение о требованиях(baseline)**
Базовое соглашение о требованиях является набором проверенных и согласованных требований, которые служат основой для дальнейшей разработки.
Перекликается с PMBOK в части управления требованиями. После подписания базового соглашения,  все изменения должны выполняться через процесс изменения  требований в проекте (например, оценку влияния новых требований на параметры проекта).
Формула подписания базового соглашения:
"«Подтверждаю, что настоящий набор требований наилучшим образом представляет наше понимание требований к этому проекту на данный момент и что описанная система удовлетворит наши потребности. Я согласен вносить в будущем изменения в это базовое соглашение в соответствии с процессом изменения требований, определенным в проекте. Я понимаю, что изменения могут потребовать переоценки стоимости, ресурсов и сроков сдачи
проекта»."

ГЛАВА 3 Рекомендуемые приемы формулирования требований