Карл Вигерс.
Разработка требований к программному обеспечению. Издание третье, дополненное.
КОНСПЕКТ

16.02.21
Введение.
Бизнес-анализ признан профессиональной дисциплиной. Сертфикация в International Institute of Business Analysis и International Requirements Engineering Board.
Программные средства для управления требованиями
Проекты с гибкой разработкой(agile) и работа с требованиями в них.

Глава 1. 
* Ключевые термины при сборе требований
* Различие между требованиями к продукту и проекту
* Различие между требованиями к разработке и  управлению
* Симптомы проблемы из-за несовершенства методов сбора, документирования, согласования, модификации требований к ПО. 

** ОПРЕДЕЛЕНИЕ ТРЕБОВАНИЙ К ПО **

Требование это - перечень того, что должно быть реализовано. В них описано поведение системы, свойства системы или ее атрибуты. Они могут служить ограничениями в процессе разработки системы.

Бизнес-требование(БТ, business requirements) - это высокоуровневая бизнес-цель заказчика. Описывают почему заказчику нужна такая система,  какие задачи он собирается решать с ее помощью. Например: "Снизить на 30% себестоимость заказа".  БТ могут фиксироваться в таких документах как: Документ о концепции и границах, Устав проекта, Варианты использования(business case).

Бизнес-правило - это регламент,  стандарт,  правило определяющее бизнес-процесс или его часть. Служит источником требований к ПО

Ограничение - это ограничение на выбор вариантов реализации доступных разработчику

Внешнее требование к интерфейсу - Описание взаимодействия между ПО и пользователем

Характеристика - это одна или несколько логически связанных возможностей системы,  которые представляют ценность для пользователя и описаны рядом функциональных требований.

Функциональное требование(ФТ, functional requirement) - это описание требуемого поведения системы в определенных условиях. Определяют, что  должны сделать программисты что бы пользователи могли выполнить свои задачи(пользовательские требования)   в рамках бизнес-требований(БТ). ФТ документируются в документе "Спецификация требований"(software requirements specification - SRS). Пример  ФТ: «У пассажира должна быть возможность распечатать посадочные талоны на все рейсы, на которые он зарегистрировался».

Нефункциональное требование(НФТ) - это описание свойства системы,  которым должна обладать система. Или ограничение,  которое она должна соблюдать. 

Атрибут качества - это вид нефункционального требования,  описывающего характеристику сервиса или производительность продукта.

Системное требование - Требование верхнего уровня к продукту,  состоящему из нескольких подсистем. Подсистемой может быть оборудование

Пользовательское требование(ПТ, user requirements) - задача(приносит пользу), которую могут выполнять в системе определенные классы пользователей. ПТ могут фиксироваться в таких документах  как "Пользовательские истории", "Варианты использования", "таблицы событие-отклик". ПТ описывают то, что пользователь  должен иметь возможность сделать с системой,  что он хочет получить с помощью системы. Пример пользовательской истории регистрации на рейс самолета: "Как пассажир я хочу зарегистрироваться на рейс, чтобы можно было сесть на самолет".

**ТРИ УРОВНЯ ТРЕБОВАНИЙ**

Бизнес-требования(концепция границ)  --> Пользовательские требования --> Функциональные требования.


**ТРЕБОВАНИЯ К ПРОДУКТУ И ТРЕБОВАНИЯ К ПРОЕКТУ**

Требования к проекту - это управление проектом.


**РАЗРАБОТКА И УПРАВЛЕНИЕ ТРЕБОВАНИЯМИ**

Разработка технических 
условий-|
		|-> Разработка 
		|   требований--|
		|			    |-> Выявление. Определение классов пользователей, понимание задач и целей соответствующих бизнес-целям. Окружение для продукта.
		|			    |-> Анализ. Отделить задачи пользователей от ФТ и НФТ. Декомпозиция требований. Получение ФТ из других требований. Атрибуты качества. Требования по компонентам 
		| 				|    приоритеты реализации. Поиск пробелов в требованиях.
		|			    |-> Документирование.
		|			    |-> Утверждение.
		|-> Управление требованиями



